env_list =  ["format", "3.14", "3.14t", "3.13", "3.12", "3.11", "3.10", "3.9"]
parallel_show_output = true

[env.format]
description = "install ruff in a virtual environment and invoke it"
deps = ["ruff>=0.14", "readme-renderer[md]"]
skip_install = true
allowlist_externals = ["bash", ]
commands = [
    [ "ruff", "check", "--select", "I", "--diff", "--fix", "test_neologdn.py" ],
    [ "ruff", "check", "--select", "I", "--diff", "--fix", "setup.py" ],
    [ "bash", "-n", "cythonize.sh" ],
    [ "python", "-m", "readme_renderer", "README.md", "-o", "/dev/null" ]
]

[env_run_base]
description = "run unit tests"
commands = [["python", { replace = "posargs", default = ["test_neologdn.py"], extend = true }]]