name: Release to PyPI
permissions:
  contents: read
on:
  push:
    branches:
      - master
    tags:
      - '*'
jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    if: startsWith(github.ref, 'refs/tags/') && github.repository_owner == 'ikegami-yukino'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, windows-11-arm, macos-15-intel, macos-latest]
    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU
        if: runner.os == 'Linux' && runner.arch == 'X64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - uses: actions/setup-python@v6

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_TEST_REQUIRES: "pytest"
          CIBW_TEST_COMMAND: "pytest {package}/test_neologdn.py"
          CIBW_ARCHS_LINUX: ${{ runner.arch == 'X64' && 'auto ppc64le s390x' || 'auto' }}
          CIBW_ARCHS_MACOS: x86_64 universal2 arm64
        with:
          output-dir: wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build-sdist:
    name: Build source distribution
    if: startsWith(github.ref, 'refs/tags/') && github.repository_owner == 'ikegami-yukino'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - name: Install dependencies
        run: python -m pip install build
      - name: Build sdist
        run: python -m build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz

  publish-to-pypi:
    name: Publish to PyPI
    if: startsWith(github.ref, 'refs/tags/') && github.repository_owner == 'ikegami-yukino'
    needs:
    - build
    - build-sdist
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/neologdn
    permissions:
      id-token: write
    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v5
      with:
          # unpacks all artifacts into dist/
          path: dist
          merge-multiple: true
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1